<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/herbs/efficacy', tag_list: @tag_list %>
    </div>
    
    <div class="col-lg-9 offset-lg-1">
      <div class="mb-5">
        <h2>お気に入りのHerbを見つけよう</h2>
        <p>現在のハーブ登録数：<%= @herbs.count %>件</p>
      </div>
  
      <div class="all-card">
        <% @herbs.each do |herb| %>
        <div class="card mb-2 mx-3">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>
                  <%= link_to herb_path(herb.id) do %>
                    <%= attachment_image_tag herb, :herb_image, size: "200x130", format: 'jpg' %>
                  <% end %>
                  </td>
              </tr>
              <tr>
                <td><%= herb.herb_name %></td>
              </tr>
              <tr>
                <td align="justify">効能：
                <% herb.tags.each do |tag| %>
                  <%= tag.tag_name %>
                <% end %>
                </td>
              </tr>
              <tr>
                <td>いいね数：<%= herb.likes.count %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>
  
    </div>
  </div>
</div>