<div class="row">
  <div class="col-lg-2">
    <p>効能から探す</p>
    <% @tag_list.each do |tag| %>
      <p><%= link_to tag.tag_name, herbs_path(tag_id: tag.id) %>(<%= tag.herbs.count %>)</p>
    <% end %>
  </div>
  <div class="col-lg-10">
    <div class="mb-5">
      <h2>お気に入りのHerbを見つけよう　<%= @herbs.count %>件</h2>
    </div>

    <div>
    <% @herbs.each do |herb| %>
      <table class="table table-borderless mr-4 mb-4">
        <tbody>
          <tr>
            <td>
              <%= link_to herb_path(herb.id) do %>
                <%= attachment_image_tag herb, :herb_image, size: "300x200", format: 'jpg' %>
              <% end %>
              </td>
          </tr>
          <tr>
            <td><%= herb.herb_name %></td>
          </tr>
          <tr>
            <td>効能：
            <% herb.tags.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
            </td>
          </tr>
          <tr>
            <td>いいね数：<%= herb.likes.count %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>

  </div>
</div>