<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <%= render 'public/herbs/efficacy', tag_list: @tag_list %>
    </div>

    <div class="card-big-one col-lg-10 d-flex align-items-center">
    <div>
      <%= attachment_image_tag @herb, :herb_image, size: "300x200", format: 'jpg' %>
    </div>
    <div class="col-lg-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="h3"><%= @herb.herb_name %></td>
          </tr>
          <tr>
            <td class="lead"><%= @herb.caption %><td>
          </tr>
          <tr>
            <td>科名 : <%= @herb.department_name %>科</td>
          </tr>
          <tr>
            <td>効能 : <% @herb.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <!--liked_by? == likesテーブル内にuserが存在する（いいね済み）か否か、、、　if存在したらいいねを取り消す（delete）-->
              <% if @herb.liked_by?(current_user) %>
              <p>
                いいね数：<%= @herb.likes.count %>
                <%= link_to herb_likes_path(@herb), method: :delete do %>
                <i class="fas fa-heart like fa-2x"></i>
                <% end %>
              </p>
              <% else %>
              <p>
                いいね数：<%= @herb.likes.count %>
                <%= link_to herb_likes_path(@herb), method: :post do %>
                <i class="far fa-heart un-like fa-2x"></i>
                <% end %>
              </p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-2">
      <div>
        <h4>おすすめのハーブティの飲み方や、ハーブに関する素敵な情報をご紹介！</h4>
      </div>
      <div>
      <% if @post_comments.present? %>
      
        <% @post_comments.each do |post_comment| %>
        <ul>
          <li>
          <%= attachment_image_tag post_comment.user, :profile_image, class: "profile-image-to-circle", size:'50x50', format: 'jpg', fallback: 'ornament.jpg' %>
          <%= post_comment.user.nickname %>
          </li>
          <li><%= post_comment.comment %></li>
        </ul>
          <% if post_comment.user_id == current_user.id %>
            <div class="d-flex justify-content-end">
              <%= link_to "上記の自分のコメントを削除する", herb_post_comment_path(post_comment.herb, post_comment), method: :delete, class:"btn btn-delete", "data-confirm" => "本当に削除しますか？" %>
            </div>
          <% end %>
        <% end %>
        
      <% else %>
        <p>共有された情報はありません</p>
      <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 offset-lg-2 herb-comment">
      <div class="mt-3">
        <h4>あなたがお持ちの素敵な情報をみんなに共有してみませんか？</h4>
        <p>お気に入りのハーブティーの飲み方。ハーブを使用して作ってみた料理etc...</p>
      </div>

      <div>
      <%= form_with(model:[@herb, @post_comment], local: true) do |f| %>
        <%= f.text_area :comment, class:"form-control rounded p-3", rows:"4", placeholder:"（例）酸味が強いときは蜂蜜を入れるととても飲みやすくなります。", required: "required" %>
        <div class="d-flex justify-content-end mt-2">
          <%= f.submit "共有する", class:"btn btn-yellow"%>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>