<div class="row">
  <div class="col-lg-2">
    <p>効能から探す</p>
    <% @tag_list.each do |tag| %>
      <p><%= link_to tag.tag_name, herbs_path(tag_id: tag.id) %>(<%= tag.herbs.count %>)</p>
    <% end %>
  </div>

  <div class="col-lg-4 d-flex align-items-center">
    <%= attachment_image_tag @herb, :herb_image, size: "300x200", format: 'jpg' %>
  </div>
  <div class="col-lg-6">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td class="h3"><%= @herb.herb_name %></td>
        </tr>
        <tr>
          <td class="lead"><%= @herb.caption %><td>
        </tr>
        <tr>
          <td>科名 : <%= @herb.department_name %></td>
        </tr>
        <tr>
          <td>効能 : <% @herb.tags.each do |tag| %>
              <%= tag.tag_name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>いいね数：</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>