<div class="container">
  <div class="row d-flex align-items-center text-center">
    <div class="col-lg-4 my-3">
      <h3>Edit</h3>
    </div>

    <%= form_with model: @user, url: users_path, local:true do |f| %>
    <div class="col-lg-8">
      <div class="form-group row my-4">
        <%= f.label(:profile_image, "プロフィール画像") %>
        <%= f.attachment_field :profile_image, class:"form-control-file", placeholder: "プロフィール画像" %>
      </div>
      <div class="form-group row my-4">
        <%= f.label(:nickname, "ニックネーム（2文字以上10文字以下）") %>
        <%= f.text_field :nickname, class:"form-control" %>
      </div>
      <div class="form-group row my-4">
        <%= f.label(:email, "メールアドレス") %>
        <%= f.text_field :email, class:"form-control" %>
      </div>
      <div class="form-group mt-5">
        <%= f.submit "保存", class:"btn btn-yellow" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
